<div class="box tabular">
<p>
<label>Repository</label>
<% if !@repositories.nil? && @repositories.length > 0 -%>
<%= select_tag :repository_id,
               options_from_collection_for_select(@repositories, :name, :name, @repository.name), :id => 'repository_id',
			   			 :onchange => "window.location.replace('?repository_id=' + this.options[this.selectedIndex].value)", :name => "repository_id" %>
<% end -%>

<%= l(:label_base_branch) %> 
<% if !@repository.branches.nil? && @repository.branches.length > 0 -%>
  <%= select_tag :base_branch,
                 options_for_select([''] + @repository.branches, @base_branch), :id => 'pull_base_branch', 
								 :onchange => "window.location.replace('?repository_id=#{@repository.name}&base_branch=' + this.options[this.selectedIndex].value + '&head_branch=#{@head_branch}')", :name => "pull[base_branch]"%>
<% end -%>

<%= l(:label_head_branch) %> 
<% if !@repository.branches.nil? && @repository.branches.length > 0 -%>
  <%= select_tag :head_branch,
                 options_for_select([''] + @repository.branches, @head_branch), :id => 'pull_head_branch',
								 :onchange => "window.location.replace('?repository_id=#{@repository.name}&head_branch=' + this.options[this.selectedIndex].value + '&base_branch=#{@base_branch}')", :name => "pull[head_branch]"%>
<% end -%>
</p>

<p><%= f.text_field :title, :label => :field_title, :size => 77 %></p>
<p><%= f.text_area :description, :label => :field_description, :rows => 10, :cols => 80 %></p>

<p>
<label><%= l(:label_issue_watchers) %></label>
<%= pull_watchers_checkboxes(@pull, @available_watchers) %>
</p>


</div>

<p>
<% disable = (@revisions and @revisions.length > 0) ? false : true %>
<%= f.submit l(:button_send_pull_request), :disabled => disable %>
</p>