<!--
  <table class="list changesets">
  <tbody>
  <% @statuses.each do |status| %>
  <% if status.item_type != "comment" %>
  <tr class="pull_item <%= cycle 'odd', 'even' %>">
  <td class="content"><label><%= h truncate(status.user.to_s) %></label> <%= status.item_type %> the pull request #<%= @pull.id %></td>
  <td class="created_on"><%= format_time(status.created_on) %></td>
  </tr>
  <% end -%>
  <% end -%>
  </tbody>
  </table>
-->
  <% @statuses.each do |status| %>
  <p>
  <h4>
  <%= authoring status.created_on, status.user, :label => :label_updated_time_by %>  
  </h4>
  <div>
  <% if status.item_type == "comment" %>
  <% else %>
  <%= status.item_type %> the pull request #<%= @pull.id %>
  <% end -%>
  </div>
  
  </p>
  <% end -%>