  <% @statuses.each do |status| %>
  <p>
  <h4>
  <%= authoring status.created_on, status.user, :label => :label_updated_time_by %>  
  </h4>
  <div>
  <% if status.item_type == "comment" %>
  <%= textilizable status.content %>
  <% else %>
  <p><%= status.item_type %> the pull request #<%= @pull.id %></p>
  <% end -%>
  </div>
  </p>

  <% end -%>

  <p>
    <h4><%= l(:label_comment) %></h4>
    <%= labelled_form_for @pull, 
                          :url => { :action => "comment", :project_id => @project.identifier, :pull_id => @pull.id },
                          :html => { :method => :put } do |f| %>    
    <%= text_area_tag 'comment', '', :cols => 60, :rows => 10, :class => 'wiki-edit' %>
    <%= wikitoolbar_for 'comment' %>
    <%= f.submit l(:label_comment) %>    
    <% end -%>
  </p>
