<% title = l(:label_pull_requests) %>

<% html_title title %>

<% content_for :header_tags do %>
<%= stylesheet_link_tag 'scm' %>
<% end %>

<h2><%=h title %></h2>

<table class="list changesets">
<thead><tr>
<th>#</th>
<th><%= l(:field_title) %></th>
<th><%= l(:field_user) %></th>
<th><%= l(:label_base_branch) %></th>
<th><%= l(:label_head_branch) %></th>
<th><%= l(:field_created) %></th>
</tr></thead>
<tbody>
<% @pulls.each do |pull| %>
<tr class="pull <%= cycle 'odd', 'even' %>">
<td class="id"><%= pull.id %></td>
<td class="title"><%= link_to(pull.title, {:controller => 'pulls', :action => 'show', :project_id => @project.name, :id => pull.id }) %></td>
<td class="user"><%= h truncate(pull.user.to_s, :length => 30) %></td>
<td class="base_branch"><%= pull[:base_branch] %></td>
<td class="head_branch"><%= pull[:head_branch] %></td>
<td class="created_on"><%= format_time(pull.created_on) %></td>
</tr>
<% end %>
</tbody>
</table>

<p class="pagination">
  <%= pagination_links_full @pulls_pages, @pulls_count %>
</p>




<%= render "sidebar" %>