<% title = l(:label_pull_requests) %>

<% html_title title %>

<% content_for :header_tags do %>
<%= stylesheet_link_tag 'scm' %>
<% end %>

<div class="contextual">
<%= link_to_if_authorized(l(:label_open), {:controller => 'pulls', :action => 'index', :project_id => @project.identifier, :status => "open" },
                            :class => 'icon icon-duplicate') %>
<%= link_to_if_authorized(l(:label_closed), {:controller => 'pulls', :action => 'index', :project_id => @project.identifier, :status => "closed" },
														:class => 'icon icon-lock') %>
<%= link_to_if_authorized(l(:label_canceled), {:controller => 'pulls', :action => 'index', :project_id => @project.identifier, :status => "canceled" },
														:class => 'icon icon-del') %>
</div>

<h2><%=h title %></h2>

<table class="list changesets">
<thead><tr>
<th>#</th>
<th><%= l(:label_status) %></th>
<th><%= l(:field_title) %></th>
<th><%= l(:field_user) %></th>
<th><%= l(:label_repository) %></th>
<th><%= l(:label_base_branch) %></th>
<th><%= l(:label_head_branch) %></th>
<th><%= l(:field_created) %></th>
</tr></thead>
<tbody>
<% @pulls.each do |pull| %>
<tr class="pull <%= cycle 'odd', 'even' %> issue">
<td class="id"><%= pull.id %></td>
<td class="status"><%= pull[:status].camelize %></td>
<td class="subject"><%= link_to(pull.subject, {:controller => 'pulls', :action => 'show', :project_id => @project.identifier, :id => pull.id }) %></td>
<td class="user"><%= h truncate(pull.user.to_s, :length => 30) %></td>
<td class="repository"><%= pull.repository.name if pull.repository %></td>
<td class="base_branch"><%= pull.base_branch %></td>
<td class="head_branch"><%= pull.head_branch %></td>
<td class="created_on"><%= format_time(pull.created_on) %></td>
</tr>
<% end %>
</tbody>
</table>

<p class="pagination">
  <%= pagination_links_full @pulls_pages, @pulls_count %>
</p>




<%= render "sidebar" %>