<% title = l(:label_pull_request_show) %>

<% html_title title %>

<% content_for :header_tags do %>
<%= stylesheet_link_tag 'scm' %>
<style>
label {
	width: 100px; display: inline-block; vertical-align: top; font-weight: bold;
}
</style>
<% end %>

<% closed = @pull.status != "open" ? true : false %>


<% if closed %>
<div class="contextual">
<%= link_to_if_authorized(l(:label_edit), {:controller => 'pulls', :action => 'edit', :project_id => @project.identifier, :id => @pull.id },
                            :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>												
</div>
<% end -%>

<h2><%= title %> #<%= @pull.id %></h2>

<div class="box">
<% if @pull.title.present? %>
<h3><%= @pull.title %></h3>
<% end -%>

<p>
<label><%= l(:label_status) %>:</label>
<span><%= @pull.status.camelize %></span>
</p>

<p>
<label><%= l(:label_repository) %>:</label>
<span><%= @pull.repository.name %></span>
</p>

<p>
<label><%= l(:label_base_branch) %>:</label>
<span><%= @pull.base_branch %></span>
</p>

<p>
<label><%= l(:label_head_branch) %>:</label>
<span><%= @pull.head_branch %></span>
</p>

<p>
<label><%= l(:field_description) %></label>
<div><%= textilizable @pull.description %></div>
</p>

</div>

<p>
<% labelled_form_for :pull, :url => { :action => "close", :project_id => @project.identifier }, :html => { :method => :put } do |f| %>
<%= f.submit l(:button_close_pull_request), :disabled => closed %>
<% end -%>

<% labelled_form_for :pull, :url => { :action => "cancel", :project_id => @project.identifier }, :html => { :method => :put } do |f| %>
<%= f.submit l(:button_cancel_pull_request), :disabled => closed %>
<% end -%>
</p>

<% if @base_branch and @head_branch %>

<h3><%= l(:label_commits) %></h3>
<p>
<% if @revisions %>
<%= render :partial => 'revisions' %>
<% end -%>
</p>

<h3><%= l(:label_file_changed) %></h3>
<p>
<%= @diff_format_revisions %> 
<% cache(@cache_key) do -%>
<% if @diff %>
<%= render :partial => 'common/diff', :locals => {:diff => @diff, :diff_type => @diff_type} %>
<% end -%>
<% end -%>
</p>

<% end -%>



<%= render "sidebar" %>