<% title = l(:label_pull_request_show) %>

<% html_title title %>

<% content_for :header_tags do %>
<%= stylesheet_link_tag 'scm' %>
<%= stylesheet_link_tag 'pull', :plugin => "redmine_pull_requests"  %>
<%= javascript_include_tag "pull", :plugin => "redmine_pull_requests" %>
<% end %>

<h2><%= title %> #<%= @pull.id %></h2>

<!-- fields -->
<div class="box">
<% if @pull.title.present? %>
<h3><%= @pull.title %></h3>
<% end -%>

<p>
<label><%= l(:label_status) %>:</label>
<span><%= @pull.status.camelize %></span>
</p>

<p>
<label><%= l(:label_repository) %>:</label>
<span><%= @pull.repository.name %></span>
</p>

<p>
<label><%= l(:label_base_branch) %>:</label>
<span><%= @pull.base_branch %></span>
</p>

<p>
<label><%= l(:label_head_branch) %>:</label>
<span><%= @pull.head_branch %></span>
</p>

<p>
<label><%= l(:field_description) %></label>
<div><%= textilizable @pull.description %></div>
</p>

</div>

<!-- buttons -->
<% if @merge_conflict %>
<div class="flash error"><%= l(:notice_pull_cant_be_merged) %></div>
<% end -%>

<p>
<%= labelled_form_for @pull, :url => { :action => "review", :project_id => @project.identifier }, :html => { :method => :put } do |f| %>
<%= f.submit l(:button_review_pull_request), :disabled => @button_disable %>
<% end -%>

<% unless @merge_conflict %>
<%= labelled_form_for @pull, :url => { :action => "merge", :project_id => @project.identifier }, :html => { :method => :put } do |f| %>
<%= f.submit l(:button_merge_pull_request), :disabled => (@button_disable || @button_merge_disable) %>
<% end -%>
<% end -%>

<%= labelled_form_for @pull, :url => { :action => "close", :project_id => @project.identifier }, :html => { :method => :put } do |f| %>
<%= f.submit l(:button_close_pull_request), :disabled => (@button_disable || @button_close_disable) %>
<% end -%>

<%= labelled_form_for @pull, :url => { :action => "cancel", :project_id => @project.identifier }, :html => { :method => :put } do |f| %>
<%= f.submit l(:button_cancel_pull_request), :disabled => @button_cancel_disable %>
<% end -%>
</p>

<!-- updates / commits / files -->
<% if @base_branch and @head_branch %>

<ul class="smalltabs" id="smalltabs">
<li><a href="javascript:void(0)" id="status" name="status" class="selected"><%= l(:label_status)%> (<%= @statuses.length %>)</a></li>
<li><a href="javascript:void(0)" id="commits" name="commits"><%= l(:label_commits) %> (<%= @revisions.length %>)</a></li>
<li><a href="javascript:void(0)" id="files" name="files"><%= l(:label_diff) %> (<%= @files.length %>)</a></li>
</ul>

<div id="status_bucket" style="display: block;">
  <% if @statuses %>
  <h3><%= l(:label_status) %></h3>
  <p>
  <%= render :partial => 'statuses' %>
  </p>
  <% end -%>
</div>

<div id="commits_bucket" style="display: none;">
  <h3><%= l(:label_commits) %></h3>
  <p>
  <% if @revisions %>
  <%= render :partial => 'revisions' %>
  <% end -%>
  </p>
</div>

<div id="files_bucket" style="display: none;">
  <h3>
  <%= l(:label_file_changed) %> 
  </h3>

  <p>
  <% if @files %>
  <%= render :partial => 'files' %>
  <% end -%>
  </p>

  <p>
  <!-- Choose view type -->
  <% form_tag({:path => to_path_param(@path)}, :method => 'get') do %>
    <%= hidden_field_tag('base_branch', params[:base_branch]) if params[:base_branch] %>
    <%= hidden_field_tag('head_branch', params[:head_branch]) if params[:head_branch] %>
    <h3>
      <%= l(:label_diff) %>
      <%= select_tag 'type',
                      options_for_select(
                        [[l(:label_diff_inline), "inline"], [l(:label_diff_side_by_side), "sbs"]], @diff_type),
                      :onchange => "if (this.value != '') {this.form.submit()}" %>
    </h3>
  <% end %>

  <% cache(@cache_key) do -%>
  <% if @diff %>
  <%= render :partial => 'common/diff', :locals => {:diff => @diff, :diff_type => @diff_type, :diff_style => @diff_type} %>
  <% end -%>
  <% end -%>
  </p>

</div>

<% end -%>

<!-- sidebar -->
<%= render "sidebar" %>