<% title = l(:label_pull_request_show) %>

<% html_title title %>

<% content_for :header_tags do %>
<%= stylesheet_link_tag 'scm' %>
<style>
label {
	width: 100px; display: inline-block; vertical-align: top; font-weight: bold;
}
</style>
<% end %>


<div class="contextual">
<%= link_to(l(:label_edit), {:controller => 'pulls', :action => 'edit', :project_id => @project.name, :id => @pull.id }) %>
</div>

<h2><%= title %> #<%= @pull.id %></h2>

<div class="box">
<h3><%= @pull.title %></h3>
<p>
<label><%= l(:lable_repository) %>:</label>
<span><%= @pull.repository.name %></span>
</p>

<p>
<label><%= l(:label_base_branch) %>:</label>
<span><%= @pull.base_branch %></span>
</p>

<p>
<label><%= l(:label_head_branch) %>:</label>
<span><%= @pull.head_branch %></span>
</p>

<p>
<label><%= l(:field_description) %></label>
<div><%= textilizable @pull.description %></div>
</p>

</div>


<% if @base_branch and @head_branch %>

<h3><%= l(:label_commits) %></h3>
<p>
<% if @revisions %>
<%= render :partial => 'revisions' %>
<% end -%>
</p>

<h3><%= l(:label_file_changed) %></h3>
<p>
<%= @diff_format_revisions %> 
<% cache(@cache_key) do -%>
<% if @diff %>
<%= render :partial => 'common/diff', :locals => {:diff => @diff, :diff_type => @diff_type} %>
<% end -%>
<% end -%>
</p>

<% end -%>



<%= render "sidebar" %>